<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.beyourownbartender">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BeYourOwnBartender"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".Profile.DemandeIngredientActivity"
            android:exported="false"
            android:parentActivityName=".Profile.ProfileActivity" />
        <activity
            android:name=".Profile.MyLikesActivity"
            android:exported="false"
            android:parentActivityName=".Profile.ProfileActivity" />
        <activity
            android:name=".Profile.MyRecipesActivity"
            android:exported="false"
            android:parentActivityName=".Profile.ProfileActivity" />
        <activity
            android:name=".Profile.AdminActivity"
            android:exported="false"
            android:parentActivityName=".Profile.ProfileActivity" />
        <activity
            android:name=".Profile.ProfileActivity"
            android:exported="false"
            android:parentActivityName=".Profile.MyRecipesActivity" />
        <activity
            android:name=".Startup.RegisterActivity"
            android:exported="false"
            android:parentActivityName=".Startup.LoginActivity" />
        <activity
            android:windowSoftInputMode="adjustPan"
            android:name=".Welcome.ReadRecipeActivity"
            android:exported="false"
            android:parentActivityName=".Profile.MyRecipesActivity" />
        <activity
            android:name=".Creation.AddActivity"
            android:exported="false"
            android:parentActivityName=".Profile.MyRecipesActivity"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name=".Startup.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".Welcome.MainActivity"
            android:exported="true" />
        <activity
            android:name=".Creation.UpdateStep"
            android:exported="true"
            android:parentActivityName=".Creation.AddActivity" />
        <activity
            android:name=".Creation.UpdateTag"
            android:exported="true"
            android:parentActivityName=".Creation.AddActivity" />
        <activity
            android:name=".Startup.LoadingActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>